/* Логотип */
.logo {
    background: url('/media/pics/logo.png') no-repeat;
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
    text-decoration: none;
    width: 250px;              /* Ширина блока */
    height: 130px;  
    justify-self: start; /* Выравниваем лого слева в своей колонке */
    margin-left: 50px;
}

/* Навигация */
nav {
    display: flex;
    gap: 190px;
    justify-content: center;
    width: 100%;
}

.nav-item {
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    text-align: center;
    flex: 1;
    min-width: 0;
    max-width: 200px;
    font-size: 24px;
    font-weight: 400;
    background-color: #fff;
    border-color: #000;
    border-width: 200px;
}

.nav-item:active {
    border: 1px solid #ccc;
    color: #fff;
}
.nav-item:hover {
    border: 1px solid #ccc;
    color: #fff;
    background-color: #1E202E;
}


.login a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    color: #fff;
}

.login a:hover {
    background-color: #3c3c3c;
}