/* Логотип */
.logo {
    background: url('/media/pics/logo.png') no-repeat;
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
    text-decoration: none;
    width: 250px;              /* Ширина блока */
    height: 130px;  
    justify-self: start; /* Выравниваем лого слева в своей колонке */
    margin-left: 50px;
}

/* Навигация */
nav {
    display: flex;
    gap: 190px;
    justify-content: center;
    width: 100%;
}

.nav-item {
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    text-align: center;
    flex: 1;
    min-width: 0;
    max-width: 200px;
    font-size: 24px;
    font-weight: 400;
    background-color: #fff;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.45),   /* тёмная тень вниз */
        0 -6px 12px rgba(255, 255, 255, 0.35); /* светлый блик вверх */
}

.nav-item:active {
    background-color: #1E202E;
    color: #fff;
    box-shadow:
        inset 0 6px 12px rgba(0, 0, 0, 0.5),
        inset 0 -6px 12px rgba(255, 255, 255, 0.3);
}


.nav-item--active {
    background-color: #1E202E;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow:
        inset 0 6px 12px rgba(0, 0, 0, 0.6),
        inset 0 -6px 12px rgba(255, 255, 255, 0.1);
    transform: translateY(1px);
}



.nav-item:hover {
    border: 1px solid #ccc;
    color: #fff;
    background-color: #1E202E;
}
