/* Логотип */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
    text-decoration: none;
    justify-self: start; /* Выравниваем лого слева в своей колонке */
}

/* Навигация */
nav {
    display: flex;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

.nav-item {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    flex: 1;
    min-width: 0;
    max-width: 130px;
}

.nav-item:hover {
    background-color: #3c3c3c;
}


.login a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    color: #fff;
}

.login a:hover {
    background-color: #3c3c3c;
}