/* Основной Grid контейнер */
body {
    display: grid;
    grid-template-rows: 70px 1fr; /* Две строки: header и main */
    grid-template-columns: 30% 1fr auto; /* Колонки как в header */ 
    min-height: 100vh;
    margin: 0;
}

/* Header - первая строка, разбитая на 3 колонки */
header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #2c2c2c;
}


/* Main - вторая строка, разбитая на 2 колонки */
main {
    height: calc(100vh - 70px); /* Высота = экран минус header */
}

/* Сайдбар - первая колонка main */
.filters-sidebar {
    grid-column: 1;
    overflow-y: auto;
}

/* Область для миникарты - вторая колонка main */
