@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('layout.css');
@import url('components.css');
@import url('header.css');


/* Глобальные сбросы и базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Sansation', sans-serif;
    /* background: url('/media/pics/image.png') no-repeat; */
}

button,
input,
select,
textarea {
    font-family: inherit;
}