@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('layout.css');
@import url('components.css');
@import url('header.css');


/* Глобальные сбросы и базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Sansation', sans-serif;
    background: url('/media/pics/background.svg') no-repeat;
}

button,
input,
select,
textarea {
    font-family: inherit;
}


.page-content--favorites {
  position: relative; /* якорь для плейсхолдера */
}

/* заглушка не участвует в сетке/флексе и не двигает карту */
#favorites-empty-card {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}


#favorites-empty-card[style*="display: none"],
#favorites-empty-card[style*="display:none"] {
  pointer-events: none;
}