<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global/css/styles.css">
    <title>Smartnades</title>
</head>
<body>
    <header>
        <a href=""><div class="logo">Logo</div></a>
        <nav>
            <a href="" class="nav-item" id="nades">Nades</a>
            <a href="" class="nav-item" id="setups">Setups</a>
            <a href="" class="nav-item" id="hltv">#1 HLTV Sets</a>
        </nav>
        <div class="login"><a href="">Log in</a></div>
    </header>

    <main>
        <aside class="filters-sidebar">
            <form class="filters-form">
                <fieldset class="filters-group">
                    <legend>Map</legend>
                    <select name="map" id="map-select" class="filter-select">
                        <option value="none-map">-</option>
                        <option value="mirage">Mirage</option>
                        <option value="inferno">Inferno</option>
                        <option value="dust2">Dust II</option>
                        <option value="ancient">Ancient</option>
                        <option value="overpass">Overpass</option>
                        <option value="train">Train</option>
                        <option value="nuke">Nuke</option>
                    </select>
                </fieldset>

                <fieldset class="filters-group">
                    <div class="radio-group">
                        <input type="radio" name="side" id="side-ct" value="ct">
                        <label for="side-ct">CT</label>
                        
                        <input type="radio" name="side" id="side-t" value="t">
                        <label for="side-t">T</label>
                    </div>
                </fieldset>

                <fieldset class="filters-group">
                    <div class="radio-group">
                        <input type="radio" name="nade_type" id="nade-smoke" value="smoke">
                        <label for="nade-smoke">Smoke</label>

                        <input type="radio" name="nade_type" id="nade-flash" value="flash">
                        <label for="nade-flash">Flash</label>

                        <input type="radio" name="nade_type" id="nade-molotov" value="molotov">
                        <label for="nade-molotov">Molotov</label>

                        <input type="radio" name="nade_type" id="nade-he" value="he">
                        <label for="nade-he">HE</label>
                    </div>
                </fieldset>

                <fieldset class="filters-group">
                    <legend>Timing</legend>
                    <div class="radio-group">
                        <input type="radio" name="timing" id="early-timing" value="early">
                        <label for="early-timing">Early</label>

                        <input type="radio" name="timing" id="mid-timing" value="mid">
                        <label for="mid-timing">Mid</label>

                        <input type="radio" name="timing" id="late-timing" value="late">
                        <label for="late-timing">Late</label>
                    </div>
                </fieldset>
            </form>
        </aside>
    </main>
</body>
</html>